<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<div class="container">
  <h1>借书信息</h1>
  <%= form_for @circulate do |f| %>
    <% if @circulate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@circulate.errors.count, "error") %>借书失败提示信息：</h2>

        <ul>
          <% @circulate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :book_id, :value=>"#{params[:book_id]}"%>
    <%= f.hidden_field :user_id, :value=>"#{current_user.id}"%>
    <div class="input-group">
      <span class="input-group-addon">借书时间：</span>
      <%= f.text_field :borrow_date, :value=>"#{Time.now.to_date}", :class=>"form-control", :style=>"width:20%", :readonly => true %>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">请输入预期还书时间：</span>
      <%= f.text_field :expect_back_date, :class=>"form-control", :style=>"width:15%" %>
    </div><br/>
    <%= f.submit "确定", :class=>"btn btn-primary" %>
  <%end%>
</div>
<script>
  $(function() {
    $("#circulate_expect_back_date").datepicker({
      "minDate": "Time.now.to_date + 1D",
      "dateFormat":"yy-m-d"
    });
  });
</script>
