<div class="container">
  <h1>注册</h1>

  <%= form_for @user, :html=>{:id=>"form"} do |f| %>
   
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h3>表单校验错误提示</h3>
        <ul>
	  <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group">
      <span class="input-group-addon">用户名：</span>
      <%= f.text_field :name, class:"form-control",:style=>"width:40%"%>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">邮箱：</span>
      <%= f.text_field :email, class:"form-control",:style=>"width:40%"%>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">手机号：</span>
      <%= f.text_field :phone_number, class:"form-control",:style=>"width:40%"%>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">借书证：</span>
      <%= f.text_field :borrow_card, class:"form-control",:style=>"width:40%"%>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">密码：</span>
      <%= f.password_field :password, class:"form-control",:style=>"width:40%"%>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon">确认密码：</span>
      <%= f.password_field :password_confirmation, class:"form-control",:style=>"width:40%"%>
    </div><br/>

    <div class="actions"><%= f.submit "注册", :class=>"btn btn-primary" %></div>
  <% end %>
</div>
