<style>
  .block{
    float:left;
    background-color:#0696CE;
    width:35%;
    line-height:450%;
    margin-top: 8%;
    margin-right: 15%;
    font-size: 3em;
  }
</style>
<div style="margin-top:2%; margin-left:42%">
  <div id="user_header">
    <% if current_user %>
      欢迎<%= current_user.name %>登陆！
      <%= link_to "退出", logout_path %>
    <% else %>
      <%= link_to "注册", signup_path, :class=>"btn btn-primary" %>
      <%= link_to "登陆", login_path, :class=>"btn btn-primary" %>
    <% end %>
  </div>

</div>
<div class="container" align="center">
  <div class="block"><%= link_to "图书分类管理", categories_path, :style=>"text-decoration:none; color:black" %></div>
  <div class="block"><%= link_to "图书标签管理", tags_path, :style=>"text-decoration:none; color:black" %></div>
  <div class="block"><%= link_to "图书管理", books_path, :style=>"text-decoration:none; color:black" %></div>
  <div class="block"><%= link_to "图书流通状态管理", circulates_path, :style=>"text-decoration:none; color:black" %></div>
</div>
